.bg-primary-700 {
	background-color: var(--clr-primary-700);
}

.bg-neutral-300 {
	background-color: var(--clr-neutral-300);
}

.bg-neutral-900 {
	background-color: var(--clr-neutral-900);
}

.bg-white {
	background-color: var(--clr-white);
}
